.App {
  text-align: center;
}

.facts{
	margin: 5%;
	font-weight: bold;
}

.btn{
	margin: 5%;
}

body{
	background: rgb(242,239,247);
	background: linear-gradient(0deg, rgba(242,239,247,1) 0%, rgba(250,72,53,1) 100%);	
	background-repeat: no-repeat;
}
